<div class="interactive-container grid-gallery" tabindex="0" data-root="{{rootPath}}">
		<header class="header">
			<button type="button" class="header__reset header__button">
				<span class="icon"><img src="{{ rootPath }}icons/reset.svg" /></span>
				<span class="text">reset</span>
			</button>
			<ul class="header__category-list">
			{{#each categories}}
				<li class="header__category-item">
					<button data-tile-class="cat-{{ this.id }}" type="button" class="header__button header__category-button header__category-button--{{ this.id }} is-active">
						<span class="icon">
							<img src="{{ ../rootPath }}icons/{{ this.icon }}.svg" />
						</span>
						<span class="text">{{ this.text }}</span>
					</button>
				</li>
			{{/each}}
			</ul>
		</header>
	<div class="gallery-container">

		<div class="gallery">
			{{#each tiles}}
				<div class="tile tile-{{ @index }} cat-{{ this.categoryId }} {{#if this.isBig}}tile--big{{/if}}" tabindex="0">
					<span class="tile__img-holder">
						{{#if this.video }}
							<video data-filename="{{ this.video }}" src="" loop webkit-playsinline>{{ this.imgAlt }}</video>
							<span class="tile__video-control">
								<svg viewBox="0 0 80 80" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
									<polygon class="play" points="25 0 70 40 25 80 "></polygon>
									<g class="pause">
										<rect x="10" y="10" width="20" height="60"></rect>
										<rect x="50" y="10" width="20" height="60"></rect>
									</g>
									<g class="load">
										<rect x="38" y="0" width="4" height="20"></rect>
										<path d="M58.2679492,4.35898385 L61.7320508,6.35898385 L51.7320508,23.6794919 L48.2679492,21.6794919 L58.2679492,4.35898385 Z" opacity="0.9"></path>
										<path d="M73.6410162,18.2679492 L75.6410162,21.7320508 L58.3205081,31.7320508 L56.3205081,28.2679492 L73.6410162,18.2679492 Z" opacity="0.8"></path>
										<path d="M80,38 L80,42 L60,42 L60,38 L80,38 Z" opacity="0.7"></path>
										<path d="M75.6410162,58.2679492 L73.6410162,61.7320508 L56.3205081,51.7320508 L58.3205081,48.2679492 L75.6410162,58.2679492 Z" opacity="0.6"></path>
										<path d="M61.7320508,73.6410162 L58.2679492,75.6410162 L48.2679492,58.3205081 L51.7320508,56.3205081 L61.7320508,73.6410162 Z" opacity="0.5"></path>
										<rect opacity="0.4" x="38" y="60" width="4" height="20"></rect>
										<path d="M21.7320508,75.6410162 L18.2679492,73.6410162 L28.2679492,56.3205081 L31.7320508,58.3205081 L21.7320508,75.6410162 Z" opacity="0.3"></path>
										<path d="M6.35898385,61.7320508 L4.35898385,58.2679492 L21.6794919,48.2679492 L23.6794919,51.7320508 L6.35898385,61.7320508 Z" opacity="0.2"></path>
										<path d="M1.77635684e-15,42 L1.04156876e-15,38 L20,38 L20,42 L1.77635684e-15,42 Z" opacity="0.15"></path>
										<path d="M4.35898385,21.7320508 L6.35898385,18.2679492 L23.6794919,28.2679492 L21.6794919,31.7320508 L4.35898385,21.7320508 Z" opacity="0.1"></path>
										<path d="M18.2679492,6.35898385 L21.7320508,4.35898385 L31.7320508,21.6794919 L28.2679492,23.6794919 L18.2679492,6.35898385 Z" opacity="0.05"></path>
									</g>
								</svg>
							</span>
						{{/if}}
						<img data-filename="{{ this.img }}" alt="{{ this.imgAlt }}" />
					</span>
					<div class="tile__details">
						{{#if this.name}}
							<h2 class="tile__title"><span class="tile__text-holder">{{ this.name }}</span></h2>
						{{/if}}
						{{#if this.date}}
							<p class="tile__date"><span class="tile__text-holder">{{ this.date }}</span></p>
						{{/if}}
						{{#if this.description}}
							<p class="tile__description"><span class="tile__text-holder">{{ this.description }}</span></p>
						{{/if}}
						{{#if this.links}}
							<ul class="tile__links">
								{{#each this.links}}
								<li class="tile__link-item"><a class="tile__link tile__text-holder" href="{{ this.url }}">{{ this.text }}</a></li>
								{{/each}}
							</ul>
						{{/if}}
						{{#if this.location}}
							<div class="tile__location">
								{{#if this.location-marker-x}}
									<span class="tile__location-marker" style="left:{{ this.location-marker-x }}%; top:{{ this.location-marker-y }}%;"></span>
								{{/if}}
								<p class="tile__location-text"><span class="tile__text-holder">{{ this.location }}</span></p>
							</div>
						{{/if}}
					</div>
					<span class="tile__expander">
						<svg viewBox="0 0 60 60" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
							<g fill-rule="evenodd">
								<path class="border" d="M0,0 L60,0 L60,60 L0,60 L0,0 Z M4,4 L56,4 L56,56 L4,56 L4,4 Z"></path>
								<path class="collapse" d="M48.3292383,24.4827586 L37.6167076,24.4827586 L48.6240786,13.4482759 L46.3636364,11.182266 L35.3562654,22.2167488 L35.4545455,11.5763547 C35.4545455,10.6896552 34.7665848,10 33.8820639,10 C32.997543,10 32.3095823,10.6896552 32.3095823,11.5763547 L32.3095823,26.1576355 C32.3095823,26.6502463 32.5061425,27.044335 32.8009828,27.2413793 C33.0958231,27.5369458 33.4889435,27.7339901 33.980344,27.7339901 L48.4275184,27.7339901 C49.3120393,27.7339901 50,27.044335 50,26.1576355 C49.9017199,25.1724138 49.2137592,24.4827586 48.3292383,24.4827586 L48.3292383,24.4827586 L48.3292383,24.4827586 L48.3292383,24.4827586 Z M26.019656,32.2660099 L11.5724816,32.2660099 C10.6879607,32.2660099 10,32.955665 10,33.8423645 C10,34.729064 10.6879607,35.4187192 11.5724816,35.4187192 L22.2850123,35.4187192 L11.2776413,46.453202 L13.5380835,48.7192118 L24.4471744,37.7832512 L24.4471744,48.4236453 C24.4471744,49.3103448 25.1351351,50 26.019656,50 C26.9041769,50 27.5921376,49.3103448 27.5921376,48.4236453 L27.5921376,33.8423645 C27.5921376,33.3497537 27.3955774,32.955665 27.1007371,32.7586207 C26.9041769,32.4630542 26.4127764,32.2660099 26.019656,32.2660099 L26.019656,32.2660099 L26.019656,32.2660099 L26.019656,32.2660099 Z"></path>
								<path class="expand" d="M26.6326531,46.6497462 L15.5102041,46.6497462 L26.9387755,35.2791878 L24.5918367,32.9441624 L13.1632653,44.3147208 L13.2653061,33.3502538 C13.2653061,32.4365482 12.5510204,31.7258883 11.6326531,31.7258883 C10.7142857,31.7258883 10,32.4365482 10,33.3502538 L10,48.3756345 C10,48.8832487 10.2040816,49.2893401 10.5102041,49.4923858 C10.8163265,49.7969543 11.2244898,50 11.7346939,50 L26.7346939,50 C27.6530612,50 28.3673469,49.2893401 28.3673469,48.3756345 C28.2653061,47.3604061 27.5510204,46.6497462 26.6326531,46.6497462 L26.6326531,46.6497462 L26.6326531,46.6497462 Z M48.3673469,10 L33.3673469,10 C32.4489796,10 31.7346939,10.7106599 31.7346939,11.6243655 C31.7346939,12.5380711 32.4489796,13.248731 33.3673469,13.248731 L44.4897959,13.248731 L33.0612245,24.6192893 L35.4081633,26.9543147 L46.7346939,15.6852792 L46.7346939,26.6497462 C46.7346939,27.5634518 47.4489796,28.2741117 48.3673469,28.2741117 C49.2857143,28.2741117 50,27.5634518 50,26.6497462 L50,11.6243655 C50,11.1167513 49.7959184,10.7106599 49.4897959,10.5076142 C49.2857143,10.2030457 48.7755102,10 48.3673469,10 L48.3673469,10 L48.3673469,10 Z"></path>
							</g>
						</svg>
					</span>
				</div>
			{{/each}}

		</div>
		<button type="button" class="gallery__next"><img src="{{ rootPath }}icons/arrow-right.svg" alt="Next" /></button>
		<button type="button" class="gallery__prev is-inactive"><img src="{{ rootPath }}icons/arrow-left.svg" alt="Previous" /></button>
	</div>
</div>
